<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <%='hammad' %> =sign used for output the value on page in this case  -->
<!-- it is hammad or <%=text %> we can put passed argument -->
<body>
    hello <%=text %>
</body>
</html>